
@if (ViewBag.Id == 0)
{
    <button onclick="agregarPersona()">Agregar</button>    
} else {
    <button onclick="actualizarPersona()">Actualizar</button>
    <button onclick="limpiarFormPersona()">Cancelar</button>
}
