@model IEnumerable<negocio_net5_mvc.Models.Home.Persona>

@foreach(negocio_net5_mvc.Models.Home.Persona persona in Model)
{
    <tr>
      <td>
        @persona.Id
      </td>
      <td>
        @persona.Nombre
      </td>
    </tr>
}
