
@{
    ViewData["Title"] = "Home Page";
}

<h1>Personas</h1>

<button onclick="fillTable()">Llenar tabla con JP</button>
<button onclick="fillTablePartial()">Llenar tabla con VPartial</button>

<div>
    <input id="inputNombre" type="text" placeholder="Nombre">
    <button onclick="agregarPersona()">Agregar</button>
</div>

<table id="tabla">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody id="tbodyTable">
    </tbody>
</table>


@section Scripts {
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script
    src="~/js/home/index.js"
    asp-append-version="true"
></script>
}
