
@{
    ViewData["Title"] = "Home Page";
}

<h1>Hola</h1>
<button onclick="hola()">Hola por consola</button>
<button onclick="fillTable()">Llenar tabla con JP</button>
<button onclick="fillTablePartial()">Llenar tabla con VPartial</button>
<table id="tabla">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody id="tbodyTable">
    </tbody>
</table>


@section Scripts {
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script
    src="~/js/home/index.js"
    asp-append-version="true"
></script>
}
